@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Be Vietnam Pro", "Inter", "Manrope", ui-sans-serif, system-ui,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-zinc-50: var(--color-slate-50);
    --color-zinc-100: var(--color-slate-100);
    --color-zinc-200: var(--color-slate-200);
    --color-zinc-300: var(--color-slate-300);
    --color-zinc-400: var(--color-slate-400);
    --color-zinc-500: var(--color-slate-500);
    --color-zinc-600: var(--color-slate-600);
    --color-zinc-700: var(--color-slate-700);
    --color-zinc-800: var(--color-slate-800);
    --color-zinc-900: var(--color-slate-900);
    --color-zinc-950: var(--color-slate-950);

    --color-accent: var(--color-blue-500);
    --color-accent-content: var(--color-blue-600);
    --color-accent-foreground: var(--color-white);
    --color-accent-text: var(--color-blue-500);
    --color-accent-background: color-mix(
        in srgb,
        var(--color-accent) 20%,
        white
    );
    --color-accent-background-50: color-mix(
        in srgb,
        var(--color-accent) 50%,
        white
    );
}

@layer theme {
    .dark {
        --color-accent: var(--color-blue-500);
        --color-accent-content: var(--color-blue-400);
        --color-accent-foreground: var(--color-white);
        --color-accent-text: var(--color-white);
        --color-accent-background: color-mix(
            in srgb,
            var(--color-accent) 35%,
            var(--color-zinc-950)
        );
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

.select-input {
    @apply w-full px-4 py-3 rounded-xl border 
           bg-white dark:bg-zinc-800
           text-zinc-900 dark:text-zinc-100
           ;
}

.select-input:focus {
    @apply focus:ring-2 focus:ring-accent focus:outline-none;
}

.select-input::placeholder {
    @apply text-zinc-400 dark:text-zinc-500;
}

.theme-table {
    @apply border border-accent/20 rounded-2xl overflow-hidden bg-white dark:bg-zinc-900 shadow-sm;
}

@layer base {
    table {
        @apply w-full border-collapse;
        border-spacing: 0;
    }

    thead {
        @apply bg-accent-background;
    }

    th {
        @apply px-6 py-3 text-xs font-medium text-accent-text uppercase tracking-wider text-left;
    }

    th.text-center {
        text-align: center !important;
    }

    tbody tr {
        @apply border-b border-accent/20  hover:bg-accent-background/30;
    }

    td {
        @apply px-6 py-4 text-sm text-accent-text/90;
    }

    .pagination-container {
        @apply px-6 py-4 border-t border-accent/20;
    }

    .empty-state {
        @apply text-center text-accent-text/70 py-6;
    }

    .empty-state svg {
        @apply text-accent-text/50 mx-auto mb-2 size-6;
    }
}




